#body{
    position: relative;
    min-height: 100vh;
    margin: 0;
}

#root{
    padding-bottom: 170px;
}

#navbar {
    text-align: center;
    background-color: gray;
    padding: 2px;
    margin: 0;
}

#logo {
    float: left;
    margin-right: 10%;

    padding: 1%;
    font-weight: bold;
}

#logo:hover{
    cursor: pointer;
    opacity: 80%; 
}

#regBtn{
    width: 200px;
    float: right;

    padding: 1%;
}

.regBtn{
    padding-left: 3%;
    padding-right: 3%;
}

.regBtn:hover{
    cursor: pointer;
    opacity: 80%; 
}

#navBtn{

    padding: 1%;
}

.navBtn{
    margin-left: 4.5%;
    margin-right: 4.5%;
}

.navBtn:hover{
    cursor: pointer;
    opacity: 80%; 
}

#social{
   float: right;
   clear: right;
   width: 49%;

}

#footer{
    background-color: gray;
    position: absolute;
    bottom: 0;
    height: 170px;
    width: 100%;
    align-items: center;
    text-align: center;
}

ul{
    list-style-type: none;
}

li{
    display: inline;
}
